#level, #score, #move-count, #elapsed-time {
  color: #B1E0C0;
  position: fixed;
  right: 60px;
}

#level {
  bottom: 195px;
}

#score {
  bottom: 180px;
}

#move-count {
  bottom: 150px;
}

#elapsed-time {
  bottom: 135px;
}

body {
  background-color: #101010;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  border-radius: 5px;
	transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #4448AF;
}

#level-up-btn {
  z-index: 1;
  color: #101010;
  position: fixed;
  bottom: 80px;
  right: 60px;
}

button:hover {
  background-color: #352CB3;
  border-color: #352CB3;
}

.instructions-modal {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.instructions-box {
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 300px;
  padding: 30px;
  background-color: rgba(161, 174, 227, 0.94);
  border-radius: 5px;
  border: 1px solid #352CB3;
  margin-left: auto;
  margin-right: auto;
}

.instructions-box h2 {
  border-bottom: 1px solid #101010;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px;
  font-weight: bold;
}

.instructions p{
  text-align: center;
  padding-top: 16px;
}

.icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 60px;
  bottom: 135px;
}

.fa-repeat-caption,
.fa-backward-caption,
.fa-question-circle-o-caption,
.fa-github-caption,
.fa-linkedin-caption {
  position: fixed;
  color: #352CB3;
  z-index: 1;
  left: 95px;
}

.fa-repeat-caption {bottom: 260px;}
.fa-backward-caption {bottom: 229px;}
.fa-question-circle-o-caption {bottom: 199px;}
.fa-github-caption {bottom: 167px;}
.fa-linkedin-caption {bottom: 135px;}

.fa-question-circle-o,
.fa-github,
.fa-linkedin {
  font-size: 30px;
  color: #B1E0C0;
}

i.fa-repeat, i.fa-backward {
  font-size: 24px;
  padding: 3px;
  color: #B1E0C0;
}

.fa-repeat:hover,
.fa-backward:hover,
.fa-question-circle-o:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: #352CB3;
  cursor: pointer;
}

i.fa-hand-o-right {
  color: #101010;
  font-size: 20px;
  padding-left: 3px;
}

.hidden {
  display: none;
}
