#score, #level {
  color: #B1E0C0;
  position: fixed;
  right: 100px;
}

#score {
  bottom: 150px;
}

#level {
  bottom: 135px;
}

body {
  background-color: #101010;
}

h1 {
  margin: 30px;
  font-weight: bold;
  color: #B1E0C0;
  font-size: 30px;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  border-radius: 5px;
	transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #4448AF;
}

#level-up-btn {
  color: #101010;
  position: fixed;
  bottom: 80px;
  right: 100px;
}

#level-up-btn:hover {
  background-color: #352CB3;
  border-color: #352CB3;
}

.instructions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 150px;
  padding: 30px;
  background-color: rgba(161, 174, 227, 0.94);
  border-radius: 5px;
  border: 1px solid #352CB3;
  color: #101010;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.instructions-box h2 {
  border-bottom: 1px solid #101010;
  text-transform: uppercase;
  font-size: 16px;
}

.instructions p{
  text-align: center;
  padding-top: 8px;
}
