html, body, header, nav, h1, h2, h3, a,
ul, li, main, button, i,
section, img, div, p, form, label, input, textarea,
span, time {
  margin:0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-family: helvetica, arial, sans-serif;
  color: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}


h1, h3 {
  color: #B1E0C0;
  text-align: center;
}

h1 {
  font-weight: lighter;
  margin-top: 30px;
  font-size: 35px;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 12px;
  text-transform: lowercase;
}

ol, ul {
  list-style: none;
}

img {
  width: inherit;
  height: auto;
}

canvas {
  z-index: 0;
  position: fixed;
  left: 150px;
}
